# macOS
.DS_Store

# Editors
.idea/
.vscode/

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/
**/coverage/
**/ios/Pods/
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Environment
.env
.env.*
!.env.example

# Supabase
supabase/.branches
supabase/.temp

